@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

*{
    box-sizing: border-box;
}

html{
    font-family: Bai Jamjuree,sans-serif;
    font-size: 10px;
}

:root{
    --cyan: hsl(171, 66%, 44%);
    --blue:hsl(233, 100%, 69%);
    --dark-grey: hsl(210, 10%, 33%);
    --light-grey:hsl(201, 11%, 66%);
}

.container{
    padding: 0 2rem;
    text-align: center;
}

button{
    padding: 1.5rem 2rem;
    width: 100%;
    max-width: 30rem;
    border-radius: 5rem;
    margin: 1.5rem 0;
    border: none;
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
}

.green-btn{
    background-color: var(--cyan);
    border-bottom: 3px solid var(--dark-grey);
    margin-top: 5rem;
}

.blue-btn{
    background-color: var(--blue);
    border-bottom: 3px solid var(--dark-grey);
}

h2{
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--dark-grey);
}

h3{
    font-size: 2.8rem;
    color: var(--dark-grey);
}

h4{
    margin-top: 3rem;
    font-size:2.1rem;
    color: var(--dark-grey);
}

p{
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 400;
    color: var(--light-grey);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

header{
    background-image: url(/clipboard-landing-page-master/images/bg-header-mobile.png);
    background-repeat: no-repeat;
}

header img{
    width: 25rem;
    padding: 5rem 5rem;
}

.main-txt{
    margin-top: 15rem;
}

.features img{
    margin: 3rem 0;
}

.access{
    margin-top: 15rem;
}

.access img{
    padding: 5rem 0;
}

.icon{
    width: 5rem;
    margin-top: 5rem;
}

.brands{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}

.brands img{
    width: 20rem;
    padding: 3.5rem 0;
}

.cta{
    margin: 15rem 0;
}

footer{
    padding: 5rem 0;
    text-align: center;
    background-color: #f0f0f0
}

ul{
    padding: 0;
}

.footer-links li{
    
    line-height: 5rem;
}

.footer-links a{
    font-size: 1.6rem;
    color: var(--light-grey);
    font-weight: 600;
}

.foot-logo{
    width: 5rem;
}

.social-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links img{
    width: 2.5rem;
    margin: 5rem 2rem;
}


/* Media Queries */
@media only screen and (min-width: 768px) {
    body {
      background-image: url(/clipboard-landing-page-master/images/bg-header-desktop.png);
      background-repeat: repeat-x;
    }

    h2{
        font-size: 4.8rem;
    }
    
    h3{
        font-size: 4.2rem;
    }
    
    h4{
        font-size:3.6rem;
    }
    
    p{
        font-size: 2.4rem;
    }

    .container{
        max-width: 1900px;
        text-align: center;
        margin: 0 auto;
    }

    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
    }

    button{
        padding: 3rem 6rem;
        font-size: 2.1rem;
    }

    .green-btn{
        margin: 0 1rem;
    }

    .blue-btn{
        margin: 0 1rem;
    }

    .features{
        display: flex;
        align-items: center;
        margin: 15rem auto;
    }

    .features p{
        padding: 0 5rem;
    }

    .features-txt{
        margin-left: 10rem;
    }

    .icon-features{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .brands{
        flex-direction: row;
        padding: 15rem 3rem;
    }

    .brands img{
        width: 35rem;
        padding: 0 3rem;
    }

    .access img{
        padding:5rem;
    }

    .cta{
        margin-bottom: 15rem;
    }

    footer{
        display: flex;
        justify-content: space-between;
        padding: 5rem 15rem;
    }

    .foot-logo{
        width: 10rem;
        height: 10rem;
    }

  }